In [19]:
import pandas as pd
import numpy as np
from keras.preprocessing import image as image_utils
from keras.applications.vgg16 import decode_predictions, preprocess_input
from keras.applications import VGG16, ResNet50
from matplotlib import pyplot as plt
from keras.layers import Input
from sklearn.model_selection import train_test_split
from keras.optimizers import SGD
%matplotlib inline

In [2]:
# This returns a tensor
inputs = Input(shape=(224,224,3))
vgg=VGG16(input_tensor=inputs)

Downloading data from https://github.com/fchollet/deep-learning-models/releases/download/v0.1/vgg16_weights_tf_dim_ordering_tf_kernels.h5
547872768/553467096 [============================>.] - ETA: 0s

In [3]:
labels=pd.read_csv('all_tinder_labels')
labels.head()

   Unnamed: 0                           filename   size  file_attributes
0           0  510b25e0281dbc430d00037e_1993.jpg  62565              1.0
1           1  510b25e0281dbc430d00037e_1994.jpg  42991              1.0
2           2  510b25e0281dbc430d00037e_1995.jpg  74946              1.0
3           3  510b25e0281dbc430d00037e_1996.jpg  44617              1.0
4           4  510b25e0281dbc430d00037e_1997.jpg  48041              1.0

In [4]:
labels.describe()

        Unnamed: 0           size  file_attributes
count  5848.000000    5848.000000      5848.000000
mean   2923.500000   51789.502052         0.255985
std    1688.316519   17829.719187         0.436451
min       0.000000    8317.000000         0.000000
25%    1461.750000   39498.500000         0.000000
50%    2923.500000   48628.000000         0.000000
75%    4385.250000   60531.250000         1.000000
max    5847.000000  150474.000000         1.000000

In [5]:
labels[labels.file_attributes==0].count()

Unnamed: 0         4351
filename           4351
size               4351
file_attributes    4351
dtype: int64

In [6]:
labels[labels.file_attributes==1].count()

Unnamed: 0         1497
filename           1497
size               1497
file_attributes    1497
dtype: int64

In [6]:
img_path = 'elephant.jpg'
img = image_utils.load_img(img_path, target_size=(224, 224))
x = image_utils.img_to_array(img)
x = np.expand_dims(x, axis=0)
x = preprocess_input(x)

features = image_utils.predict(x)

In [8]:
features.shape

(1, 1000)

In [8]:
X=[]
for index, row in labels.iterrows():
    #print(index, row[1])
    path='/home/ubuntu/tinder/images/'+row[1]
    #path='/Users/joaquincunanan/Dropbox (winners)/Tinder/images/'+row[1]
    #print(path)

    img = image_utils.load_img(path, target_size=(224, 224))
    x = image_utils.img_to_array(img)
    x = np.expand_dims(x, axis=0)
    x = preprocess_input(x)
    X.extend(x)

In [9]:
len(X)

5848

In [10]:
X=np.array(X)

In [11]:
len(labels)

5848

In [12]:
labels.head()

   Unnamed: 0                           filename   size  file_attributes
0           0  510b25e0281dbc430d00037e_1993.jpg  62565              1.0
1           1  510b25e0281dbc430d00037e_1994.jpg  42991              1.0
2           2  510b25e0281dbc430d00037e_1995.jpg  74946              1.0
3           3  510b25e0281dbc430d00037e_1996.jpg  44617              1.0
4           4  510b25e0281dbc430d00037e_1997.jpg  48041              1.0

In [13]:
X.shape

(5848, 224, 224, 3)

In [14]:
y=labels.file_attributes

In [26]:
y_test.shape

(1930,)

In [32]:
y2=pd.get_dummies(y)

In [34]:
y2.shape

(5848, 2)

In [36]:
y2.head()

   0.0  1.0
0  0.0  1.0
1  0.0  1.0
2  0.0  1.0
3  0.0  1.0
4  0.0  1.0

In [37]:
y2.describe()

               0.0          1.0
count  5848.000000  5848.000000
mean      0.744015     0.255985
std       0.436451     0.436451
min       0.000000     0.000000
25%       0.000000     0.000000
50%       1.000000     0.000000
75%       1.000000     1.000000
max       1.000000     1.000000

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y2, test_size=0.33, random_state=42)

MemoryError:

In [ ]:
sgd=SGD(lr=.01,momentum=.8,decay=.000001,nesterov=False)
vgg.compile(loss='categorical_crossentropy',optimizer=sgd,metrics=['accuracy'])

vgg.fit(X_train, y_train,epochs=20,batch_size=128)
score = vgg.evaluate(X_test, y_test, batch_size=128)

In [27]:
y2=pd.get_dummies(y)

In [28]:
y2

      0.0  1.0
0     0.0  1.0
1     0.0  1.0
2     0.0  1.0
3     0.0  1.0
4     0.0  1.0
5     1.0  0.0
6     0.0  1.0
7     0.0  1.0
8     0.0  1.0
9     0.0  1.0
10    0.0  1.0
11    0.0  1.0
12    0.0  1.0
13    1.0  0.0
14    0.0  1.0
15    1.0  0.0
16    1.0  0.0
17    1.0  0.0
18    0.0  1.0
19    0.0  1.0
20    1.0  0.0
21    1.0  0.0
22    1.0  0.0
23    1.0  0.0
24    0.0  1.0
25    0.0  1.0
26    0.0  1.0
27    0.0  1.0
28    0.0  1.0
29    0.0  1.0
...   ...  ...
5818  0.0  1.0
5819  1.0  0.0
5820  0.0  1.0
5821  1.0  0.0
5822  1.0  0.0
5823  1.0  0.0
5824  1.0  0.0
5825  1.0  0.0
5826  1.0  0.0
5827  1.0  0.0
5828  1.0  0.0
5829  1.0  0.0
5830  1.0  0.0
5831  1.0  0.0
5832  1.0  0.0
5833  1.0  0.0
5834  1.0  0.0
5835  0.0  1.0
5836  0.0  1.0
5837  0.0  1.0
5838  0.0  1.0
5839  0.0  1.0
5840  0.0  1.0
5841  0.0  1.0
5842  1.0  0.0
5843  0.0  1.0
5844  0.0  1.0
5845  0.0  1.0
5846  1.0  0.0
5847  1.0  0.0

[5848 rows x 2 columns]