In [30]:
import pandas as pd
import numpy as np
from keras.preprocessing import image as image_utils
from keras.applications.vgg16 import decode_predictions, preprocess_input
from keras.applications import VGG16, ResNet50
from matplotlib import pyplot as plt
from keras.layers import Input
from sklearn.model_selection import train_test_split
%matplotlib inline

In [25]:
# This returns a tensor
inputs = Input(shape=(224,224,3))
vgg=VGG16(input_tensor=inputs)

In [15]:
labels=pd.read_csv('all_tinder_labels')
labels.head()

   Unnamed: 0                           filename   size  file_attributes
0           0  510b25e0281dbc430d00037e_1993.jpg  62565              1.0
1           1  510b25e0281dbc430d00037e_1994.jpg  42991              1.0
2           2  510b25e0281dbc430d00037e_1995.jpg  74946              1.0
3           3  510b25e0281dbc430d00037e_1996.jpg  44617              1.0
4           4  510b25e0281dbc430d00037e_1997.jpg  48041              1.0

In [4]:
labels.describe()

        Unnamed: 0           size  file_attributes
count  5852.000000    5852.000000      5852.000000
mean   2163.957792   51754.268626         0.255810
std    1233.954380   17874.473009         0.436353
min       0.000000     243.000000         0.000000
25%    1084.750000   39466.750000         0.000000
50%    2124.000000   48621.000000         0.000000
75%    3235.000000   60527.750000         1.000000
max    4279.000000  150474.000000         1.000000

In [5]:
labels[labels.file_attributes==0].count()

Unnamed: 0         4355
filename           4355
size               4355
file_attributes    4355
dtype: int64

In [6]:
labels[labels.file_attributes==1].count()

Unnamed: 0         1497
filename           1497
size               1497
file_attributes    1497
dtype: int64

In [6]:
img_path = 'elephant.jpg'
img = image_utils.load_img(img_path, target_size=(224, 224))
x = image_utils.img_to_array(img)
x = np.expand_dims(x, axis=0)
x = preprocess_input(x)

features = image_utils.predict(x)

In [8]:
features.shape

(1, 1000)

In [16]:
X=[]
for index, row in labels.iterrows():
    #print(index, row[1])
    path='/Users/joaquincunanan/Dropbox (winners)/Tinder/images/'+row[1]
    #print(path)

    img = image_utils.load_img(path, target_size=(224, 224))
    x = image_utils.img_to_array(img)
    x = np.expand_dims(x, axis=0)
    x = preprocess_input(x)
    X.extend(x)

In [17]:
len(X)

5848

In [26]:
X=np.array(X)

TypeError: 'tuple' object is not callable

In [19]:
len(labels)

5848

In [8]:
labels.head()

   Unnamed: 0                           filename   size  file_attributes
0           0  510b25e0281dbc430d00037e_1993.jpg  62565              1.0
1           1  510b25e0281dbc430d00037e_1994.jpg  42991              1.0
2           2  510b25e0281dbc430d00037e_1995.jpg  74946              1.0
3           3  510b25e0281dbc430d00037e_1996.jpg  44617              1.0
4           4  510b25e0281dbc430d00037e_1997.jpg  48041              1.0

In [27]:
X.shape

(5848, 224, 224, 3)

In [28]:
y=labels.file_attributes

In [31]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [32]:
vgg.fit(X_train, y_train,
          epochs=20,
          batch_size=128)
score = model.evaluate(X_test, y_test, batch_size=128)

NameError: name 'x_train' is not defined