In [1]:
import pandas as pd
import numpy as np
from keras.preprocessing import image as image_utils
from keras.applications.vgg16 import decode_predictions, preprocess_input
from keras.applications import VGG16, ResNet50
from matplotlib import pyplot as plt
from keras.layers import Input
from sklearn.model_selection import train_test_split
from keras.optimizers import SGD
from keras.models import Model
from keras.layers import Dense, Flatten
%matplotlib inline

Using TensorFlow backend.

In [5]:
# This returns a tensor

In [2]:
labels=pd.read_csv('all_tinder_labels')
labels.head()

   Unnamed: 0                           filename   size  file_attributes
0           0  510b25e0281dbc430d00037e_1993.jpg  62565              1.0
1           1  510b25e0281dbc430d00037e_1994.jpg  42991              1.0
2           2  510b25e0281dbc430d00037e_1995.jpg  74946              1.0
3           3  510b25e0281dbc430d00037e_1996.jpg  44617              1.0
4           4  510b25e0281dbc430d00037e_1997.jpg  48041              1.0

In [3]:
labels.describe()

        Unnamed: 0           size  file_attributes
count  5848.000000    5848.000000      5848.000000
mean   2923.500000   51789.502052         0.255985
std    1688.316519   17829.719187         0.436451
min       0.000000    8317.000000         0.000000
25%    1461.750000   39498.500000         0.000000
50%    2923.500000   48628.000000         0.000000
75%    4385.250000   60531.250000         1.000000
max    5847.000000  150474.000000         1.000000

In [4]:
labels[labels.file_attributes==0].count()

Unnamed: 0         4351
filename           4351
size               4351
file_attributes    4351
dtype: int64

In [5]:
labels[labels.file_attributes==1].count()

Unnamed: 0         1497
filename           1497
size               1497
file_attributes    1497
dtype: int64

In [7]:
X=[]
for index, row in labels.iterrows():
    #print(index, row[1])
    #path='/home/ubuntu/tinder/images/'+row[1]
    path='/Users/joaquincunanan/Dropbox (winners)/Tinder/images/'+row[1]
    #print(path)

    img = image_utils.load_img(path, target_size=(224, 224))
    x = image_utils.img_to_array(img)
    x = np.expand_dims(x, axis=0)
    x = preprocess_input(x)
    X.extend(x)

In [8]:
len(X)

5848

In [9]:
X=np.array(X)

In [10]:
len(labels)

5848

In [17]:
labels.head()

   Unnamed: 0                           filename   size  file_attributes
0           0  510b25e0281dbc430d00037e_1993.jpg  62565              1.0
1           1  510b25e0281dbc430d00037e_1994.jpg  42991              1.0
2           2  510b25e0281dbc430d00037e_1995.jpg  74946              1.0
3           3  510b25e0281dbc430d00037e_1996.jpg  44617              1.0
4           4  510b25e0281dbc430d00037e_1997.jpg  48041              1.0

In [18]:
X.shape

(5848, 224, 224, 3)

In [19]:
y=labels.file_attributes

In [20]:
y.value_counts()

0.0    4351
1.0    1497
Name: file_attributes, dtype: int64

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [22]:
X_train.shape

(3918, 224, 224, 3)

In [23]:
from keras.models import Model
from keras.layers import Dense, Flatten

In [25]:
base_model = VGG16(input_shape=(224, 224, 3),include_top=False)
x = Flatten(input_shape=base_model.input.shape[1:])(base_model.output)
x = Dense(1024, activation='relu')(x)
predictions = Dense(1, activation='sigmoid')(x)

In [26]:
att_model = Model(inputs=base_model.inputs, outputs=predictions)

# not training the bottom layers 
for layer in base_model.layers:
    layer.trainable = False

In [ ]:
att_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

att_model.fit(X_train, y_train, validation_data=[X_test, y_test], epochs=20,batch_size=32)

Train on 3918 samples, validate on 1930 samples
Epoch 1/20
3918/3918 [==============================] - 217s - loss: 3.9740 - acc: 0.7534 - val_loss: 4.4346 - val_acc: 0.7249
Epoch 2/20
3918/3918 [==============================] - 197s - loss: 3.9740 - acc: 0.7534 - val_loss: 4.4346 - val_acc: 0.7249
Epoch 3/20
3918/3918 [==============================] - 197s - loss: 3.9740 - acc: 0.7534 - val_loss: 4.4346 - val_acc: 0.7249
Epoch 4/20
3918/3918 [==============================] - 197s - loss: 3.9740 - acc: 0.7534 - val_loss: 4.4346 - val_acc: 0.7249
Epoch 5/20
3918/3918 [==============================] - 197s - loss: 3.9740 - acc: 0.7534 - val_loss: 4.4346 - val_acc: 0.7249
Epoch 6/20
3918/3918 [==============================] - 197s - loss: 3.9740 - acc: 0.7534 - val_loss: 4.4346 - val_acc: 0.7249
Epoch 7/20
3904/3918 [============================>.] - ETA: 0s - loss: 3.9717 - acc: 0.7536

In [44]:
y_train.shape

(3918, 2)

In [22]:
y_train.shape

(3918, 2)

In [23]:
X_train[0]

array([[[ 129.06100464,   57.22100067,    4.31999969],
        [ 129.06100464,   57.22100067,    4.31999969],
        [ 131.06100464,   59.22100067,    6.31999969],
        ...,
        [ 129.06100464,   46.22100067,    2.31999969],
        [ 128.06100464,   45.22100067,    1.31999969],
        [ 128.06100464,   45.22100067,    1.31999969]],

       [[ 129.06100464,   57.22100067,    4.31999969],
        [ 129.06100464,   57.22100067,    4.31999969],
        [ 131.06100464,   59.22100067,    6.31999969],
        ...,
        [ 127.06099701,   44.22100067,    0.31999969],
        [ 129.06100464,   46.22100067,    2.31999969],
        [ 129.06100464,   46.22100067,    2.31999969]],

       [[ 129.06100464,   57.22100067,    4.31999969],
        [ 129.06100464,   57.22100067,    4.31999969],
        [ 131.06100464,   59.22100067,    6.31999969],
        ...,
        [ 131.06100464,   48.22100067,    4.31999969],
        [ 129.06100464,   46.22100067,    2.31999969],
        [ 129.06100464,   46.22100067,    2.31999969]],

       ...,
       [[  37.06099701,   13.22100067,   86.31999969],
        [  12.06099701,  -11.77899933,   61.31999969],
        [  46.06099701,   22.22100067,   95.31999969],
        ...,
        [ -15.93900299,   26.22100067,   28.31999969],
        [ -56.93900299,  -19.77899933,  -14.68000031],
        [ -43.93900299,   -9.77899933,   -2.68000031]],

       [[  18.06099701,   -2.77899933,   51.31999969],
        [   6.06099701,  -15.77899933,   40.31999969],
        [  41.06099701,   18.22100067,   77.31999969],
        ...,
        [ -23.93900299,   25.22100067,   26.31999969],
        [ -31.93900299,   12.22100067,   14.31999969],
        [ -28.93900299,   13.22100067,   15.31999969]],

       [[ -26.93900299,  -45.77899933,  -21.68000031],
        [ -33.93900299,  -53.77899933,  -27.68000031],
        [  36.06099701,   15.22100067,   48.31999969],
        ...,
        [ -39.93900299,   12.22100067,   13.31999969],
        [ -29.93900299,   19.22100067,   20.31999969],
        [  -1.93900299,   45.22100067,   44.31999969]]], dtype=float32)

In [1]:
import tensorflow

In [2]:
from tensorflow.python.client import device_lib

def get_available_gpus():
    local_device_protos = device_lib.list_local_devices()
    return [x.name for x in local_device_protos if x.device_type == 'GPU']

In [3]:
get_available_gpus()

[u'/gpu:0']

In [24]:
base_model = ResNet50(input_shape=(224, 224, 3),include_top=False,classes=2)
x = Flatten(input_shape=base_model.input.shape[1:])(base_model.output)
x = Dense(1024, activation='relu')(x)
predictions = Dense(1, activation='sigmoid')(x)

Downloading data from https://github.com/fchollet/deep-learning-models/releases/download/v0.2/resnet50_weights_tf_dim_ordering_tf_kernels_notop.h5
94355456/94653016 [============================>.] - ETA: 0s

In [25]:
att_model = Model(inputs=base_model.inputs, outputs=predictions)

# not training the bottom layers 
for layer in base_model.layers:
    layer.trainable = False

In [ ]:
att_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

att_model.fit(X_train, y_train, validation_data=[X_test, y_test], epochs=20,batch_size=32)

Train on 3918 samples, validate on 1930 samples
Epoch 1/20